@import "../../sass/variable.scss";
@import "../../sass/responsive.scss";

.header {
  &__user_icons {
    font-size: 1.2rem;
    color: #000;
  }
  &__badge {
    position: absolute;
    top: -10%;
    left: -15%;
    padding: 3px 5px !important;
  }
  &__title {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.7rem;
    margin: 0 !important;
    text-transform: capitalize;
  }
  &__subtitle {
    font-size: 0.8rem !important;
    margin: 0 !important;
    font-family: "tabara";
  }
}
.rounded__img {
  @include rounded__img;
}

.link {
  @include link__nm;
  color: #000;
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 0.3rem;
}
.dropdown {
  background: transparent !important;

  button {
    background-color: transparent;
    border: 0;
    display: flex;
    gap: 0.2rem;
    align-items: center;
    color: #000;

    &:hover {
      background-color: $primary;
    }
    &:focus {
      background-color: $primary !important;
    }
  }
  .btn-show {
    background-color: transparent;
  }
}

.dropdown__link {
  display: inline-flex;
  gap: 0.3rem;
  font-size: 1rem;
  padding: 0 0.4rem;
  color: #000;
  text-decoration: none;
  align-items: center;
  &:hover {
    color: $primary;
  }
}

.sm__hide {
  @include smallScreen() {
    display: none;
  }
  font-weight: 500;
  display: inline-block;
}
