$primary: #028090;
$secondary: #3f4c6b;
$danger: #e73827;
$warning: #ffe74c;
$info: #35a7ff;
$success: #09814a;
$light: #f7f7f9;
$dark: #2c2f33;

// import bootstrap scss
@import "../node_modules/bootstrap/scss/bootstrap";
