$primary: #7289da;
$secondary: #99aab5;
$danger: #d52941;
$warning: #f77f00;
$success: #09814a;
$light: #f7f7f9;
$dark: #2c2f33;
// import bootstrap scss
@import "../node_modules/bootstrap/scss/bootstrap";
