@import "../../sass/variable.scss";
@import "../../sass/responsive.scss";
.footer__container {
  background-color: $light;
  margin: 1rem 0;
}

.links {
  font-family: "tabara" !important;
  @include smallScreen() {
    font-size: 0.9rem;
  }
  @include link__nm;
  color: $dark;
  font-weight: 500;
  transition: 0.4s ease;
  width: fit-content;
  &:hover {
    color: $primary;
    transform: translateX(10px);
  }
}

.link__group__title {
  font-weight: 500;
  font-family: "jhalMuri" !important;
}
