@mixin bigScreen() {
  @media screen and (min-width: 680px) {
    @content;
  }
}

.header__user_icons {
  font-size: 1.4rem;
  color: #000;
}
.rounded__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.header__badge {
  position: absolute;
  top: -10%;
  left: -15%;
  padding: 3px 5px !important;
}
.link {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 0.3rem;
}
