@import "../../sass/responsive.scss";
.card__img {
  max-width: 100%;
  height: fit-content;
  border-radius: 0 !important;
  @include deskTop() {
    height: 200px;
    transition: 0.3s ease;
  }
}

.product__card {
  position: relative !important;
  width: 9rem !important;
  flex-grow: 1;
  transition: 0.2s ease;
  margin-inline: 0.4rem;
  overflow: hidden;
  @include deskTop() {
    width: 13rem !important;
  }
}
// .product__card:hover {
//   transform: translateY(-2px);
//   box-shadow: 0 0 5px rgb(137, 137, 137);
// }
.img__icon {
  position: absolute;
  top: 10px;
  font-size: 1.5rem;
  right: 10px;
  cursor: pointer;
  color: crimson;
}
.img__icon:focus {
  transform: scale(1.1);
}
.card__link {
  color: #000;
  text-decoration: none;
  @include deskTop() {
    overflow: hidden;
    &:hover > img {
      scale: 1.1;
    }
  }
}
.icon {
  font-size: 2rem;
  cursor: pointer;
}
.product__title {
  font-weight: 500 !important;
  font-family: "popines";
  font-size: 0.8rem !important;
}
.buy__btn {
  display: flex;
  width: 100%;
  button {
    font-size: 0.9rem !important;
  }
}
