@import "../../sass/variable.scss";
@import "../../sass/responsive.scss";

.slider__con {
  padding: 0 !important;
  margin: 0 !important;
  overflow-x: hidden;
}
.slider__wrapper {
  white-space: nowrap;
  padding: 0 !important;
  border-radius: 5px;
  display: flex;
  transition: transform 1s ease;
  // animation: slide 40s linear alternate;
}
// @keyframes slide {
//   0% {
//     transform: translateX(0%);
//   }
//   100% {
//     transform: translateX(500%);
//   }
// }
.slider {
  min-width: 100%;
  position: relative;
  background: $body-bg;
  overflow-y: hidden;
  @include deskTop() {
    height: 450px;
  }

  &__title {
    position: relative;
    padding: 1rem 0.8rem;
    text-transform: capitalize;
    white-space: normal;
    font-size: 2.5rem;
    color: $text-light;
    z-index: 2;
    font-family: "tabara";
    &:hover {
      color: $text-light;
    }
  }
  &__subtitle {
    position: relative;
    padding: 0.5rem 0.8rem;
    font-weight: 300 !important;
    text-transform: capitalize;
    font-size: 1.2rem;
    color: $text-light;
    z-index: 2 !important;
    font-family: "tabara";
    &:hover {
      color: $text-light;
    }
  }
}
.slider__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  height: 100%;
  z-index: 1;
  mix-blend-mode: overlay;
  @include deskTop() {
    position: static;
    height: 450px;
    mix-blend-mode: difference;
  }
}
.banner__btn {
  font-family: "jhalMuri" !important;
}
