@import "../../sass/variable.scss";
@import "../../sass/responsive.scss";
.con {
  background-color: $section-bg;
  overflow: hidden;
  position: relative;
  padding: 1rem;
}
.wrapper {
  white-space: nowrap;
  display: flex;
  position: relative;
  transition: 0.5s ease;
  gap: 1rem;
  // @include deskTop() {
  //   white-space: normal;
  //   justify-content: space-around;
  //   transform: translateX(0) !important;
  //   padding: 0.5rem;
  // }
}

.link {
  text-decoration: none;
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "tabara";
  border-radius: 8%;
  background-color: $text-light;
  transition: 0.3s ease-in;
  @include deskTop() {
    &:hover {
      scale: 1.1;
    }
  }
}

.cata__img {
  width: 70px;
  height: 70px;
  aspect-ratio: auto;
  border-radius: 10%;
  transition: 0.4s ease-in;
  object-position: center;
  @include deskTop() {
    width: 120px;
    height: 120px;
  }
}
.banner__title {
  margin-top: 0.4rem;
  font-weight: 500;
  color: #000;
  font-size: 0.9rem;
  font-family: "tabara" !important;
  @include deskTop() {
    font-size: 1.1rem;
  }
}
