@import "../sass/variable.scss";
@import "../sass/responsive.scss";
.home__wrapper {
  min-height: 100vh;
  height: auto;
  background: $body-bg;
}
.back__btn {
  @include back__btn;
}
.links {
  &__active {
    color: #fff;
  }
}
// .links__active {

//   text-decoration: none !important;
// }
