@import "../sass/variable.scss";
@import "../sass/responsive.scss";
.home__wrapper {
  min-height: 100vh;
  height: auto;
  background: $body-bg;
}
.back__btn {
  @include back__btn;
  // border: 1px solid rgb(47, 47, 47) !import
  // margin-left: 1
  // margin-top: 1
  // position: absol
  // top
  // z-index:;
}
.links {
  text-decoration: none !important;
  &__active {
    @extend .links;
    color: #fff;
  }
}
// .links__active {

//   text-decoration: none !important;
// }
