@import "../../sass/variable.scss";

.card__img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
}
.slide__img {
  max-width: 100%;
  height: 70px;
  cursor: pointer;
  object-fit: contain;
}
.back__btn {
  @include back__btn__nm;
}

.product {
  font-family: "popines" !important;
  &__title {
  }
  &__image__title {
    @extend .product__title;
  }
  &__size__title {
    @extend .product__title;
  }
  &__price__title {
    @extend .product__title;
  }
}

.relative__wrapper {
  overflow-x: auto;
  white-space: nowrap;
  padding: 1rem 0;
  overflow-y: hidden;
  gap: 1rem !important;
}
.relativeProductCard {
  border-radius: 10px !important;
  height: 55vh !important;
  padding-bottom: 0.5rem;
}
.relativeCardWrapper {
  margin-top: 1.5rem;
  padding: 1rem;
  &__title {
    font-weight: normal !important;
    font-family: "tabara" !important;
  }
}

.relativeProduct {
  &__title {
    @include smallScreen() {
      font-size: 0.9rem !important;
    }
    font-size: 1rem !important;
    padding: 0.5rem 1rem;
    margin: 0 !important;
    font-family: "tabara" !important;
    white-space: normal;
    font-weight: normal !important;
  }
  &__img {
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    height: 30vh !important;
  }
  &__text {
    @include smallScreen() {
      font-size: 0.8rem;
    }
    font-weight: bold !important;
    font-family: "popines" !important;
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}
.card__link {
  @include smallScreen() {
    min-width: 80% !important;
  }
  all: unset;
  min-width: 300px;
  width: fit-content;
  height: auto;
}

.cata__arrow__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  height: 100%;

  svg {
    font-size: 2rem;
    cursor: pointer;
  }
}
.active {
  color: $dark;
}
